<a href="https://colab.research.google.com/github/bitwoman/python_para_analise_de_dados/blob/main/Python_para_An%C3%A1lise_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MÓDULO 01

In [ ]:
print('Olá em apóstrofos')
print("Olá aspas duplas")

print('\nPulando linha com \ n ')

Olá em apóstrofos
Olá aspas duplas

Pulando linha com \ n

**Operadores aritméticos**

```
1.   Soma
2.   Subtração
3.   Multiplicação
4.   Divisão
5.   Exponenciação
6.   Resto da divisão
7.   Divisão de chão
```

In [ ]:
# SOMA
print(1 + 3 + 4)

8

In [ ]:
# SUBTRAÇÃO
print(4 - 4)

0

In [ ]:
# MULTIPLICAÇÃO
print(4 * 4)

16

In [ ]:
# DIVISÃO
print(4/4)

1.0

In [ ]:
# EXPONENCIAÇÃO
print(2 ** 2) # 2 * 2

4

In [ ]:
# RESTO DA DIVISÃO
print(3 % 4)

3

In [ ]:
# DIVISÃO DE CHÃO
print(3 // 4)

0

**PRIORIZAÇÃO**

In [ ]:
# Exemplo
(2 + 2) * 3 # o parênteses faz a proprização do cálculo que está contido dentro dele

12

**VARIÁVEIS**

In [ ]:
 Nome = 'Brenda'

In [ ]:
Nome

'Brenda'

**Variáveis de texto**

In [ ]:
var_texto1 = 'Primeira variável'
var_texto2 = str('Segunda variável') # a função str define que o valor definido dentro dela seja texto (string)

print(var_texto1 + '\t' + var_texto2)

Primeira variável	Segunda variável

Variáveis numéricas

In [ ]:
var_int1 = 100
var_int2 = int(200) # a função int define que o valor é inteiro

print(var_int1, ' ', var_int2)

100   200

**Variáveis flutuantes**

In [ ]:
var_flutuante1 = 10.90
var_flutuante2 = float(10.50) # a função float define que o valor é ponto flutuante

print(var_flutuante1, ' ', var_flutuante2)

10.9   10.5

**Variáveis booleanas**

In [ ]:
var_booleana1 = True  # a condição é verdadeira
var_booleana2 = False # a condição é falsa

print(var_booleana1, ' ', var_booleana2)

True   False

**TIPOS DE DADOS**

```
1.   Listas - são criadas usando [] (colchetes)
2.   Tuplas - são criadas usando () (parênteses)
3.   Dicionários - são criados usando {} (chaves)
```

Esses tipos de dados podem receber qualquer tipo de informação, inclusive operações aritméticas.

**LISTAS**

In [ ]:
# Listas
lista1 = [1,2,3,4,5,6,7,8,9,10]
lista2 = ['Nome', 'Sobrenome','Sexo', 'Idade']
lista3 = [1, 'Lista 3', True, [1,2,3]] # lista dentro de uma lista


print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Nome', 'Sobrenome', 'Sexo', 'Idade']
[1, 'Lista 3', True, [1, 2, 3]]

**TUPLAS**

In [ ]:
# TUPLAS - são imutáveis
tupla1 = (1, 2, 3, 4)
tupla2 = ('Texto', True, 2, 2.90)

print(tupla1)
print(tupla2)

(1, 2, 3, 4)
('Texto', True, 2, 2.9)

**DICIONÁRIOS**

In [ ]:
# DICIONÁRIOS - organizados por chave-valor
telefones = ['1233-1234','5432-1234'] # lista para utilizar no dicionário
dicionario1 = {'clientID':1, 'nomeCliente': 'Brenda', 'Telefone (s)': telefones}

print(dicionario1)

{'clientID': 1, 'nomeCliente': 'Brenda', 'Telefone (s)': ['1233-1234', '5432-1234']}

**NOMEAÇÃO DE VARIÁVEIS**

Podemos nomear variáveis e tipos de dados de diversas formas:

```
1. Declarar em uma única linha de comando;
2. Atribuir um valor à diversas variáveis;
3. Declarar usando uma lista;
4. Combinar variáveis;
5. Operar com operadores matemáticos;
6. Muitos outros.
```

In [ ]:
# Nomeando
fruta1, fruta2, fruta3 = 'laranja', 'melão','abacaxi' # valor segmentado

print(fruta1,fruta2,fruta3)

laranja melão abacaxi

In [ ]:
# Nomeando
morango = uva = kiwi = 100 # valor global

print(morango, uva, kiwi)

100 100 100

In [ ]:
# Nomeando com listas
listaCarros = ['VW', 'Audi', 'Tesla']
marca1,marca2,marca3 = listaCarros

print(marca1, marca2, marca3)

VW Audi Tesla

In [ ]:
# Combinar variáveis
nome = 'Taylor'
sobrenome = 'Swift'

nomeCompleto = nome + ' ' + sobrenome

print(nomeCompleto)

Taylor Swift

In [ ]:
# Teste 01
nome = 'Taylor'
idade = 33

print(nome + ': ' + str(idade) + ' anos') # se você não converter a idade para string, o script gerará um erro

Taylor: 33 anos

In [ ]:
# Teste 02
investimento = 1000
taxaJuros = float('0.2')

print(investimento * taxaJuros) # sem a conversão para float, o valor (dado como string) será multiplicado por 1000 e retornará mil ocorrências dela

valorGanho = (investimento * taxaJuros) + investimento
print('Valor ganho: ' + str(valorGanho))

200.0
Valor ganho: 1200.0

**TIPO DA INFORMAÇÃO**

Na programação, o tipo de dados é um conceito importante. Variáveis podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes. O python tem os seguintes tipos de dados integrados por padrão nessa categorias:

```
  1.   Text Type: str;
  2.   Numeric: int, float, complex;
  3.   Sequence Types: list, tuple, range;
  4.   Mapping Type: dict;
  5.   Set Types: set, frozenset;
  6.   Boolean Type: bool;
  7.   Binary Types: bytes, bytearray, memoryview.
```

In [ ]:
string = str('Hello world - old, but gold')
inteiro = int(10)
flutuante = float(10.50)
complexo = complex(1j)
lista = list(('Maçã', 'Morango'))
tupla = tuple(('A', 'B'))
range = range(6)
dicionario = dict(nome = 'Brenda', age = 29)
Set = set(('A','B','C'))
frozenSet = frozenset(('A','B','C'))
booleano = bool(5)
bytesType = bytes(5)
byteArray = bytearray(5)
memoryView = memoryview(bytes(5))

from datetime import datetime
Data = datetime.today().date()

In [ ]:
print(type(string)) # type() é uma função que retorna o tipo de dado da variável passada como parâmetro
print(type(inteiro))
print(type(flutuante))
print(type(complexo))
print(type(lista))
print(type(tupla))
print(type(range))
print(type(dicionario))
print(type(Set))
print(type(frozenSet))
print(type(booleano))
print(type(bytesType))
print(type(byteArray))
print(type(memoryView))
print(type(Data))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'datetime.date'>

**COMANDO ROUND**

Quando trabalhamos com números flutuantes, podemos arredondar o valor usando um comando nativo do python: round(valor, número de casas decimais).

In [ ]:
# Exemplo
valor = 12.123456789
valorArredondado = round(valor, 2) # arredonda para o valor mais próximo

print(valor)
print(valorArredondado)

12.123456789
12.12

**COMANDO LEN**

Retorna a quantidade de elementos de qualquer lista em python, essa é mais uma função built-in e disponível em qualquer parte dos nossos códigos.

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]
dicionario = {'Nome': 'Brenda', 'Idade':29}
tupla = (1,2,3)
string = 'Hello, World!'

print(len(lista))
print(len(dicionario))
print(len(tupla))
print(len(string))

10
2
3
13

**FATIAMENTO DE STRINGs**

Strings são listas de bytes representando caracteres. Podemos acessar suas posições usando colchetes.

string[posição inicial:posição final]

In [ ]:
# Exemplo
string = 'My World'
cpf = 'CPF:123456789'

print(type(string))
print(string[0:2])
print(cpf[-9:])

<class 'str'>
My
123456789

**MANIPULAÇÃO DE STRINGs**

Um tipo de dados bastante usado no dia a dia são as strings, ou cadeias de caracteres (sequência de caracteres). O tipo de dados string, ou str, como é chamado em python, possui várias operações úteis a ele. Essas operações tornam python uma linguagem bastante propícia para manipulação de textos. Algumas funções mais utilizadas:

```
1.   replace()
2.   startswith()
3.   endswith()
4.   count()
5.   capitalize()
6.   isdigit()
7.   isalnum()
8.   upper()
9.   lower()
10.  find()
11.  strip()
12.  split()
```

In [ ]:
# REPLACE > substituir
string = 'Hello World!'

print(string.replace('World', 'WORLD'))

Hello WORLD!

In [ ]:
# STARTSWITH > verifica se a string inicia com o valor passado por parâmetro
print(string.startswith('Olá')) # retorna um valor booleano (true/false)

False

In [ ]:
# ENDSWITH: verifica se a string finaliza com o valor passado por parâmetro
print(string.endswith('!')) # retorna um valor booleano (true/false)

True

In [ ]:
# COUNT: tem a função de contar o número de ocorrências do valor passado por parâmetro
print(string.count('M'))

0

In [ ]:
# CAPITALIZE (Transformação): se o primeiro valor for uma letra minúscula, ele transoforma para maiúscula
nome = 'brenda'
print(nome.capitalize())

Brenda

In [ ]:
# ISDIGIT: verificar se é valor numérico
cpf = '123456789'

print(cpf.isdigit()) # retorna um valor booleano (true/false)

True

In [ ]:
# ISALNUM: verificar se é alfa numérico
print(string.isalnum()) # retorna um valor booleano (true/false)

False

In [ ]:
# UPPER: deixar o texto em caixa alta (maiúscula)
print(nome.upper())

BRENDA

In [ ]:
# LOWER: deixar o texto em caixa baixa (minúscula)
print(nome.lower())

brenda

In [ ]:
# FIND: para localizar algum elemento específico
frase = 'hoje está calor!'

print(frase.find('calor')) # ele retorna a posição do elemento dentro da string (ou onde ela se inicia)

10

In [ ]:
# STRIP: ele remover os espaços entre o começo e o final das palavras
endereco = ' R. Augusto 120, SP ' # espaço no início e no final da string

print(endereco.strip())

R. Augusto 120, SP

In [ ]:
# SPLIT: ele divide a string em várias partes

print(endereco.split(',')) # dá para utilizar o parâmetro onde você deseja, especificamente, realizar a quebra

[' R. Augusto 120', ' SP ']

**INPUT**

Recebe como parâmetro uma string que será mostrada como auxílio ao usuário, geralmente o informando que tipo de dado o programa está aguardando receber.

In [ ]:
input('input 1!')

input 1!2

'2'

In [ ]:
# FORM
nome = input('qual o seu nome? ')

print('Meu nome é ' + nome)

qual o seu nome? brenda linda
Meu nome é brenda linda

**OPERADORES DE COMPARAÇÃO**

Os operadores de comparação são usados para comparar dois valores:

```
1.   == (igual à)
2.   != (diferente)
3.   > (maior)
4.   < (menor)
5.   >= (maior igual)
6.   <= (menor igual)
```

In [ ]:
10 == 10 # igual à

True

In [ ]:
10 != 8 # diferente

True

In [ ]:
10 > 5 # maior

True

In [ ]:
10 < 20 # menor

True

In [ ]:
10 >= 10 # maior ou igual à

True

In [ ]:
10 <= 10 # menor ou igual à

True

**OPERADORES LÓGICOS**

Os operadores lógicos são usados para combinar instruções condicionais:


1.   and (retorna True se ambas as declarações forem verdadeiras);
2.   or (retorna True se uma das declarações forem verdadeira);
3.   not (inverte o resultado, retorna False se o resultado for verdadeiro).

In [ ]:
10 > 2 and 10 > 3

True

In [ ]:
10 == 2 or 10 < 20

True

In [ ]:
not(10 > 2)

False

In [ ]:
lista = [1,2,3,4,5]

10 not in lista

True

**OPERADORES DE IDENTIDADE**

Os operadores de identidade são usados para comparar os objetos, não se forem iguais, mas se forem realmente o mesmo objeto, com a mesma localização de memória.

1.   is (retorna True se ambas as variáveis forem o mesmo objeto)
2.   is not (retorna True se ambas as variáveis não forem o mesmo objeto)

In [ ]:
string1 = 'hello, world'
string2 = 'hello, world'

type(string1) == type(string2)

True

In [ ]:
type(string1) is type(string2)

True

In [ ]:
type(string1) is not type(string2)

False

**OPERADORES DE ASSOCIAÇÃO**

Os operadores de associação são usados para testar se uma sequência é apresentada em um objeto:



1.   in (retorna true se uma sequência com o valor especificado estiver presente no objeto);
2.   not in (retorna true se uma sequência com o valor especifico não estiver presente no objeto).

In [ ]:
listaMusicas = ['Julho','Alinhamento Milenar','Idiota']

'Pilantra' in listaMusicas

False

In [ ]:
listaMusicas = ['Julho','Alinhamento Milenar','Idiota']

'Pilantra' not in listaMusicas

True

**MANIPULANDO LISTAS**

As listas são usadas para armazenar vários itens em uma única variável. As listas são um dos 4 tipos de dados internos do python usados para armazenar coleções de dados, os outros 3 são tuple, set e dictionary. Todos com qualidades e usos diferentes.

Comandos mais utilizados:

1.   append() (para adicionar um item ao final da lista)
2.   len() (calcular o tamanho da lista)  
3.   [] (colchetes - acessar posições)
4.   del() (excluir um elemento)
5.   clear() (limpar a lista)
6.   insert() (para inserir um item de lista em um índice especificado)
7.   extend() (anexar elemementos de outra lista à lista atual)
8.   remove() (remove o item especificado)
9.   pop() (remove o índice especificado)
10.  sort() (ordenar os valores)
11.  copy() (faz uma cópia da lista)
12.  index() (retorna o index do elemento da lista)

In [ ]:
# APPEND
listaVazia = []
print(listaVazia)

[]

In [ ]:
listaVazia.append(1) # ele insere de maneira em que os elementos vão empilhando
listaVazia.append(2)
listaVazia.append(3)

print(listaVazia)

[1, 2, 3]

In [ ]:
# LEN
len(listaVazia)

3

In [ ]:
# []
listaVazia[2]
listaVazia[0:2]

[1, 2]

In [ ]:
# DEL
del(listaVazia)

print(listaVazia) # deletada

In [ ]:
# CLEAR
listaVazia.clear()

print(listaVazia)

[]

In [ ]:
# INSERT: pode definir a posição do elemento que você vai inserir
listaVazia.insert(0, 10)
print(listaVazia)

[10, 1, 2, 3]

In [ ]:
# EXTEND: ele adiciona uma lista à outra
lista1 = [1,2,3]
lista2 = [4,5,6]

lista1.extend(lista2)
print(lista1)

[1, 2, 3, 4, 5, 6]

In [ ]:
# REMOVE: remove o elemento especificado pelo valor
lista1.remove(5)
print(lista1)

[1, 2, 3, 4, 6]

In [ ]:
# POP: remove o elemento especificado pela posição
lista1.pop(4)
print(lista1)

[1, 2, 3, 4]

In [ ]:
# SORT
listaAbc = ['a','z','b','f','c']
listaAbc.sort()

print(listaAbc)

# pode ser ordem reversa

listaAbc.sort(reverse=True)
print(listaAbc)

['a', 'b', 'c', 'f', 'z']
['z', 'f', 'c', 'b', 'a']

In [ ]:
# COPY
listaNova = listaAbc.copy()
print(listaNova)

['z', 'f', 'c', 'b', 'a']

In [ ]:
# INDEX
listaNova.index('a')

4

**PACOTES EXTERNOS - FUNÇÕES PRONTAS**

**PACOTE DATETIME**

O datetime fornece classes para a manipulação de datas e horas.

In [ ]:
type('2023-12-01')

str

In [ ]:
import datetime

In [ ]:
diaAtual = datetime.datetime.today() # pacote.função.função
print(diaAtual)

2023-12-01 23:39:37.502026

In [ ]:
type(diaAtual)

datetime.datetime

In [ ]:
print(datetime.datetime.today().date())

2023-12-01

In [ ]:
data = datetime.datetime.today().date()
ano = data.year
mes = data.month
dia = data.day

print(ano,'/',mes,'/', dia)

2023 / 12 / 1

In [ ]:
dataAntiga = datetime.date(2022,1,1)
print(dataAntiga)

2022-01-01

In [ ]:
print(data - dataAntiga)

699 days, 0:00:00

In [ ]:
data.strftime('%d/%m/%y')

'01/12/23'

In [ ]:
data + datetime.timedelta(days=30) # somar a data mais 30 dias

datetime.date(2023, 12, 31)

**PACOTE TIME**

Funções relacionados ao tempo.

In [ ]:
import time

In [ ]:
print('Comecei agora..')
time.sleep(3)
print('Terminei')

Comecei agora..
Terminei

In [ ]:
agora = time.localtime() # tipo: time.struct_time
print(agora)
print(type(agora))

time.struct_time(tm_year=2023, tm_mon=12, tm_mday=1, tm_hour=23, tm_min=50, tm_sec=21, tm_wday=4, tm_yday=335, tm_isdst=0)
<class 'time.struct_time'>

In [ ]:
time.strftime('%m/%d/%y, %H:%M:%S', agora)

'12/01/23, 23:50:21'

In [ ]:
dataString = '21 June, 2021'
time.strptime(dataString, '%d %B, %Y') # B é configuração da documentação

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=172, tm_isdst=-1)

**PACOTE MATH**

O python possui um conjunto de funções matemáticas integradas, incluindo um extenso módulo matemático, que permite realizar tarefas matemáticas em números.

In [ ]:
import math

In [ ]:
tupla = (1,2,3,4,5,6)

print(min(tupla)) # menor valor encontrado na tupla
print(max(tupla)) # maior valor encontrado na tupla

1
6

In [ ]:
abs(-7.25) # converte o valor para o positivo

7.25

In [ ]:
pow(3,4) # faz o cálculo da potência do primeiro parâmetro pelo segundo valor = 3 * 3 * 3 * 3

81

In [ ]:
math.sqrt(81) # retorna o valor da raiz quadrado do valor passado como parâmetro

9.0

In [ ]:
math.ceil(1.4) # ele arredonda o valor para cima até o número inteiro mais próximo

2

In [ ]:
math.floor(1.4) # ele arredonda o valor para baixo até o número inteiro mais próximo

1

In [ ]:
math.pi # retorna o valor de PI

3.141592653589793

**PACOTE RANDOM**

Este módulo implementa geradores de números pseudo-aleatórios para várias distribuições.

In [2]:
import random

In [4]:
lista = [1,2,3,4,5,6,7,8,9,10]

random.choice(lista)

2

In [8]:
random.random() # gera número aleatório entre 0 e 1

0.7007758694904803

In [10]:
random.randint(0, 1000) # gera número aleatório entre o primeiro e o segundo valor passado por parâmetro

992

**PACOTE STATISTICS**

Este módulo fornece funções para calcular estatísticas matemáticas de dados numéricos e interage com as listas.

In [11]:
import statistics

In [19]:
lista = [12,15,28,78,78,80]

In [20]:
sum(lista)/len(lista) # forma mais difícil de fazer a média

48.5

In [21]:
statistics.mean(lista) # faz a média automaticamente

48.5

In [22]:
statistics.median(lista) # faz a mediana automaticamente

53.0

In [23]:
statistics.mode(lista) # faz a moda automaticamente

78

**CONDIÇÃO IF**

IF é a declaração mais simples de tomada de decisão. Ele é usado para decidir se uma determinada instrução ou bloco de instruções será executado ou não, ou seja, se uma determinada condição for verdadeira, um bloco será executado, caso contrário, não.

IF CONDIÇÃO:

*   declarações a serem executadas SE;
*   condição é verdadeira.

In [27]:
# condição se a pessoa tiver menos de 18 anos, ela entra no sistema
idade = 15

if idade >= 18:
  print('você é maior de idade! :)')

você é menor de idade! :(

In [ ]:
# condição se a pessoa tiver menos de 18 anos, ela entra no sistema, se não, não entra
idade = 15

if idade >= 18:
  print('você é maior de idade! :)')
else:
  print('você é menor de idade! :(')

In [29]:
# condição que valida se a pessoa tiver menor de 18, ou maior, ou entre tais idades
idade = 15

if idade >= 18:
  print('você é maior de idade! :)')
elif idade >=15 and idade <= 17:
  print('Seu pai ou mãe pode autorizar!')
else:
  print('você é muito novo! :(')

Seu pai ou mãe pode autorizar!